- const data = [ {value:'50000<', label:'до 500к', name:'value' },  {value:'1ml<', label:'до 1 млн', name:'value' }, {value:'>1ml', label:'>1 млн', name:'value' } ]         
footer
 .footer
    .footer__discuss.container 
        span.footer__discuss_title 
            | Обсудить проект
        p.footer__discuss_desc 
            | Расскажите о проекте в форме ниже или свяжитесь с нами напрямую 
        .footer__discuss_section 
            .footer__discuss_section_block 
                .footer__discuss_section_block_title
                    <a href="">@ekhohrin</a>
                span.footer__discuss_section_block_desc
                    | Написать нашему аккаунт-директору в Telegram
            .footer__discuss_section_block
                .footer__discuss_section_block_title
                    .footer__discuss_section_block_title_avatar 
                        img.img.lazyload(data-src="assets/img/telegramAvatar.jpg" src="assets/img/dot.jpg" alt="")
                    <a href="mailto:hello@riverstart.ru">hello@riverstart.ru</a>
                span.footer__discuss_section_block_desc
                    | Написать нам на почту
    .footer__form.container 
        form
            .footer__form__checkboxes
                span.footer__form__checkboxes_title
                    |Что вас интересует?
                .footer__form__checkboxes_wrapper
                    .footer__form__checkboxes_item
                        +customCheckbox("Сайт", "interests", "site")
                    .footer__form__checkboxes_item
                        +customCheckbox("Веб-сервис", "interests", "webService")
                    .footer__form__checkboxes_item
                        +customCheckbox("Маркетинг", "interests", "marketing")
                    .footer__form__checkboxes_item
                        +customCheckbox("Приложение", "interests", "application")
                    .footer__form__checkboxes_item
                        +customCheckbox("Брендинг", "interests", "branding")
                    .footer__form__checkboxes_item
                        +customCheckbox("Что-то ещё", "interests", "other")
            .footer__form__inputs 
                .input.js-label.footer__form__inputs_nameInput
                    input
                    label Имя
                .footer__form__inputs_wrapper 
                    .input.js-label.footer__form__inputs_emailInput
                        input
                        label Почта
                    .input.js-label.footer__form__inputs_telInput
                        input(type="tel").js-mask
                        label Телефон
            .input.js-label
                    textarea
                    label Опишите задачу
            .footer__form__radioGroup
                .footer__form__radioGroup_title 
                    | Бюджет (₽):
                +customRadioGroup(data)   
            .footer__form__fileInput 
                +customFileInput("Прикрепить бриф")   
            .footer__form__submitButton 
                button.btn._secondary.
                    Оставить заявку 
            .footer__form__descl 
                span Нажав на кнопку, вы соглашаетесь с политикой 
                span.black обработки персональных данных 
    .footer__infoWrapper
        .footer__infoWrapper_offices.container
            .footer__infoWrapper_offices_block
                .footer__infoWrapper_offices_item
                    span.footer__infoWrapper_offices_item_title Московский офис
                    span Новая пл., 6
                    <a href="tel:8 (499) 112-46-21">8 (499) 112-46-21</a>
                .footer__infoWrapper_offices_item
                    span.footer__infoWrapper_offices_item_title Нижегородский офис
                    span ул. Рождественская, 26
                    <a href="tel:8 (831) 2-889-354">8 (831) 2-889-354</a>
        .footer__infoWrapper_offices-head
            .footer__infoWrapper_info
                .footer__infoWrapper_offices_item
                    span.footer__infoWrapper_offices_item_title Нижегородский офис
                    span ул. Рождественская, 26
                    <a href="tel:8 (831) 2-889-354">8 (831) 2-889-354</a>
                    div.footer__infoWrapper_offices_item_oceanDesc
                        | Oceanstart LLC
                        span Worldwide outsourcing and outstaffing   
                        a.footer__infoWrapper_offices_item_oceanLink(href="")
                            | oceanstart.dev
                            +svgsprite("link")
            .footer__infoWrapper_offices_oceanIcon
                +svgsprite("oceanStart")
        .footer__socialsAndPrivacy.container
            .footer__socialsAndPrivacy_socials
                a.footer__socialsAndPrivacy_socials_item(href="")
                    +svgsprite("facebook")
                a.footer__socialsAndPrivacy_socials_item(href="") 
                    +svgsprite("twitter") 
                a.footer__socialsAndPrivacy_socials_item(href="")  
                    +svgsprite("instagram")
                a.footer__socialsAndPrivacy_socials_item(href="") 
                    +svgsprite("vk") 
                a.footer__socialsAndPrivacy_socials_item(href="")
                    +svgsprite("behance")
            .footer__socialsAndPrivacy_privacy
                span.footer__socialsAndPrivacy_privacy_title Политика конфиденциальности
                .footer__socialsAndPrivacy_privacy_content 
                    +svgsprite("riverstartIcon") 
                    |2021 © Riverstart Digital. Все права защищены
 .footer__form.footer__form-lg.container 
        form
            .footer__form__checkboxes
                span.footer__form__checkboxes_title
                    |Что вас интересует?
                .footer__form__checkboxes_wrapper
                    .footer__form__checkboxes_item
                        +customCheckbox("Сайт", "interests", "site")
                    .footer__form__checkboxes_item
                        +customCheckbox("Веб-сервис", "interests", "webService")
                    .footer__form__checkboxes_item
                        +customCheckbox("Маркетинг", "interests", "marketing")
                    .footer__form__checkboxes_item
                        +customCheckbox("Приложение", "interests", "application")
                    .footer__form__checkboxes_item
                        +customCheckbox("Брендинг", "interests", "branding")
                    .footer__form__checkboxes_item
                        +customCheckbox("Что-то ещё", "interests", "other")
            .footer__form__inputs 
                .input.js-label.footer__form__inputs_nameInput
                    input
                    label Имя
                .footer__form__inputs_wrapper 
                    .input.js-label.footer__form__inputs_emailInput
                        input
                        label Почта
                    .input.js-label.footer__form__inputs_telInput
                        input(type="tel").js-mask
                        label Телефон
            .input.js-label
                    textarea
                    label Опишите задачу
            .footer__form__radioGroup
                .footer__form__radioGroup_title 
                    | Бюджет (₽):
                
                +customRadioGroup(data)   
            .footer__form__fileInput 
                +customFileInput("Прикрепить бриф")   
            .footer__form__submitButton 
                button.btn._secondary.
                    Оставить заявку 
            .footer__form__descl 
                span Нажав на кнопку, вы соглашаетесь с политикой 
                span.black обработки персональных данных 
 .footer__socialsAndPrivacy-lg.container
            .footer__socialsAndPrivacy_socials
                a.footer__socialsAndPrivacy_socials_item(href="")
                    +svgsprite("facebook")
                a.footer__socialsAndPrivacy_socials_item(href="") 
                    +svgsprite("twitter") 
                a.footer__socialsAndPrivacy_socials_item(href="")  
                    +svgsprite("instagram")
                a.footer__socialsAndPrivacy_socials_item(href="") 
                    +svgsprite("vk") 
                a.footer__socialsAndPrivacy_socials_item(href="")
                    +svgsprite("behance")
            .footer__socialsAndPrivacy_privacy
                span.footer__socialsAndPrivacy_privacy_title Политика конфиденциальности
                .footer__socialsAndPrivacy_privacy_content 
                    +svgsprite("riverstartIcon") 
                    |2021 © Riverstart Digital. Все права защищены
