.mobileMenu.js-mobileMenu
    .mobileMenu__header
        img(src="assets/img/logo.svg" alt="")
        .js-mobileMenuCloseIcon
            +svgsprite("closeIcon")

    nav.mobileMenu__nav 
        ul.mobileMenu__nav_list
            li.mobileMenu__nav_list_item
                | <a href="" _blank>Услуги</a>
            li.mobileMenu__nav_list_item
                | <a href="" _blank>Кейсы</a>
            li.mobileMenu__nav_list_item
                | <a href="" _blank>Студия</a>    
            li.mobileMenu__nav_list_item
                | <a href="" _blank>Блог</a>    
            li.mobileMenu__nav_list_item
                | <a href="" _blank>Контакты</a>    


    .mobileMenu__footer 
      ul.mobileMenu__footer_list
        li.mobileMenu__footer_list_item-header
          | Связаться с нами:
        li.mobileMenu__footer_list_item
          | <a href="mailto:hello@riverstart.ru">hello@riverstart.ru</a>
        li.mobileMenu__footer_list_item
          | <a href="tel:+496170961709">8 (499) 112-46-21</a>

      ul.mobileMenu__footer_list-socials
        li.mobileMenu__footer_list_item
          | <a href="" _blank>Facebook</a>
        li.mobileMenu__footer_list_item
          | <a href="" _blank>Instagram</a>
        li.mobileMenu__footer_list_item
          | <a href="" _blank>Behance</a>
        