.comicBubble{
    padding: 1rem 1.3rem 0.9rem 1.7rem;
    background: $color-white;
    border-radius: 17px;
    max-width: 14.5rem;
    position: relative;
    padding: 1rem 1.3rem 0.9rem 1.9rem;
    @include up(xl) {
        padding: 1.2rem 1.4rem 1.25rem 2.4rem;
        max-width: 19.25rem;
    }
    &__pointer{
        width: 15px;
        height: 25px;
        border-left: 2vh solid transparent;
        border-right: 2vh solid transparent;
        border-top: 31px solid #fff;
        position: absolute;
        top: 39%;
        left: -5%;
        transform: rotate(130deg);
        @include up(xl) {
            border-top: 45px solid #fff;
            }
        }
    &-lg{
        @include up(xl) {
            padding: 1.2rem 2.7rem 1.25rem 2.4rem;
            max-width: 25.5rem;
            .comicBubble__text{
                font-size: 1.3rem;
            }
            .comicBubble__desc{
                margin-top: 0.75rem;
            }
            .comicBubble__pointer{
                width: 43px;
                height: 50px;
                border-top: 48px solid #fff;
                top: 40%;
            }

        }
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }
    &__text{
        color: $color-base;
        @include up(xl) {
           font-size: 1.3rem;
        }
    }
    &__desc{
        font-size: 0.8rem;
        color: $color-gray;
    }
}
