.customFileInput{
    display: flex;
    position: relative;
    align-items: center;
    &__labelWrapper{
        display: flex;
        align-items: center;
        color: $color-base;
        font-size: 0.8rem;
        cursor: pointer;
        @include up(xl) {
            font-size: 1.25rem;
        }
    }
    & span{
        margin-left: 0.5rem;
    }
    & svg{
        @include up(xl) {
            width: 20px !important;
            height: 18px;
        }
    }
    & input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }
}
