footer{
    display: flex;
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    @include up(lg) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.footer {
    $root: &;
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    @include up(lg) {
        width: 50%;
        margin-top: 4.8rem;
    }
    @include up(xl) {
        margin-top: 7.3rem;
    }
    &__discuss{
        display: flex;
        flex-direction: column;
        margin-bottom: 2.8rem;
        @include up(lg) {
            margin-bottom: 5.4rem;
        }
        @include up(xl) {
            margin-bottom: 9.1rem;
        }

        &_title{
            font-size: 2.3rem;
            margin-bottom: 1rem;
            @include up(md) {
                font-size: 2.6rem;
                margin-bottom: 1.1rem;
            }
            @include up(lg) {
                font-size: 3.5rem;
                margin-bottom: 2.1rem;
            }
            @include up(xl) {
                font-size: 5.3rem;
                margin-bottom: 3.2rem;
            }
        }
        &_desc{
            font-size: 1rem;
            margin-bottom: 3.2rem;
            @include up(lg) {
                font-size: 1.1rem;
                margin-bottom: 7.9rem;
            }
            @include up(xl) {
                font-size: 1.6rem;
                margin-bottom: 10.5rem;
            }
        }
        &_section{
            display: flex;
            flex-direction: column;
            @include only(md) {
               flex-direction: row;
            }
            &_block{
                display: flex;
                flex-direction: column;
                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                    @include only(md) {
                        margin-bottom: 0;
                        margin-right: 6.25rem;
                    }
                }
                &_title{
                    display: flex;
                    align-items: center;
                    font-size: 1.5rem;
                    @include up(lg) {
                        font-size: 1.7rem;
                    }
                    @include up(xl) {
                        font-size: 2.6rem;
                    }
                    & *{
                        text-decoration: none;
                    }
                    &_avatar{
                        @include only(sm) {
                            order: 2;
                            margin-left: 0.5rem;
                        }
                        position: relative;
                        width: 1.8rem;
                        height: 1.8rem;
                        margin-right: 0.5rem;
                        border-radius: 50%;
                        overflow: hidden;
                        @include only(sm) {
                            border-radius: 6px;
                        }
                    }
                }
                &_desc{
                    font-size: 0.75rem;
                    color: $color-gray;
                    @include up(lg) {
                        font-size: 0.8rem;
                    }
                    @include up(xl) {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
 &__form{
    background-color: $color-white;
    padding: 1.8rem 0 4rem 0;
    &-lg{
        display: none;
        @include up(lg) {
            width: 50%;
            display: block !important;
            padding: 5.5rem 0 6.4rem 0;
        }
        @include up(xl) {
            padding: 8.25rem 0 4.9rem 0;
        }
    }

    @include up(md) {
        padding: 3.1rem 0 5.4rem 0;
    }
    @include up(lg) {
        display: none;
        padding: 5.5rem 0 6.4rem 0;
    }
    @include up(xl) {
        padding: 8.25rem 0 4.9rem 0;
    }
    & form{
        @include up(lg) {
           width: 430px;
        }
        @include up(xl) {
            width: 651px;
        }
    }
    &__checkboxes{
        display: flex;
        flex-direction: column;
        margin-bottom: 2.8rem;
        @include up(md) {
            margin-bottom: 3.5rem;
        }
        @include up(lg) {
            margin-bottom: 3.8rem;
        }
        @include up(xl) {
            margin-bottom: 5.6rem;
        }
        &_title{
            color: $color-gray;
            font-size: 0.9rem;
            margin-bottom: 0.9rem;
            @include up(xl) {
                font-size: 1.3rem;
                margin-bottom: 1.3rem;
            }
        }
        &_wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            @include up(xl) {
                gap: 0.75rem;
            }
        }
    }
    &__inputs{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5.4rem;
        &_nameInput{
            margin-bottom:  2.3rem;
        }
        &_telInput{
            display: none;
            @include up(lg) {
                display: block;
            }
        }
        @include up(md) {
            flex-direction: row;
            justify-content: space-between;
            &_nameInput,
            &_wrapper{
                width: 45%;
            }
            &_nameInput{
                margin-bottom:  2.3rem;
            }

        }
        @include up(lg) {
            flex-direction: column;
            &_emailInput,
            &_telInput{
                width: 45%;
            }
            &_nameInput{
                width: 100%;
            }
            &_wrapper{
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }

    }
    &__radioGroup{
        margin-top: 4.1rem;
        margin-bottom: 3.5rem;
        &_title{
            color: $color-gray;
            margin-bottom: 1.5rem;
        }
    }
    &__fileInput{
        margin-bottom: 2.1rem;
        & svg{
            width: 14px !important;
            height: 12px;
        }
        @include up(xl) {
            margin-bottom: 4.1rem;
        }
    }
    .btn{
        width: 100%;
        height: 4,5rem;
        margin-bottom: 1.9rem;
        @include up(lg) {
            width: 18rem;
            height: 4.6rem;
            margin-bottom: 0.5rem;
        }
        @include up(xl) {
            width: 23.3rem;
            height: 5.8rem;
            margin-bottom: 4rem;
        }
    }
    &__descl{
        color: $color-gray;
        font-size: 0.75rem;
        @include up(lg) {
            width: 18rem;
        }
        @include up(xl) {
            width: 23.3rem;
            font-size: 1rem;
        }
        .black{
            color: $color-base;
            @include up(lg) {
                color: $color-secondary;
            }
        }
    }
 }
 &__infoWrapper{
    &_info{
        width: 214px;
        @include up(xl) {
            width: 320px;
        }
    }

    &_offices{
        padding: 2.2rem 0 2.6rem 0;
        @include up(lg) {
            padding: 3rem 0 3rem 0;
        }
        @include up(xl) {
            padding: 3rem 0 4rem 0;
        }
        &_oceanIcon{
            width: 3.6rem;
            height: 3.6rem;
            background: $color-white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            @include up(xl) {
                width: 5.6rem;
                height: 5.6rem;
            }
            & svg{
                width: 26px;
                height: 15px;
                @include up(xl) {
                    width: 40px;
                    height: 23px;
                }
            }
        }
        &-head{
            background-color: $card-color;
            padding: 1.3rem 30px 1.4rem 30px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 4.6rem;
            @include up(md) {
               margin: 0 40px;
               border-radius: 1rem;
               margin-bottom: 6.5rem;
            }
            @include up(lg) {
                width: 25rem;
            }
            @include up(xl) {
                width: 38rem;
            }
        }
        &_block{
            display: flex;
            justify-content: space-between;
            @include up(md) {
                justify-content: flex-start;
                .footer__infoWrapper_offices_item{
                    margin-right: 8.75rem;
                }
             }
        }
        &_item{
            font-size: 0.75rem;
            display: flex;
            flex-direction: column;
            @include up(xl) {
                font-size: 1.1rem;
            }
            & span{
                margin-bottom: 0.6rem;
                @include up(xl) {
                    margin-bottom: 0.9rem;
                }
            }

            & *{
                color: $color-gray;
                text-decoration: none;
            }
            &_title{
                color: $color-white;
            }
            &_oceanDesc{
                margin-top: 3rem;
                margin-bottom: 1.25rem;
                display: flex;
                flex-direction: column;
                @include up(lg) {
                    margin-top: 3.6rem;
                }
                @include up(xl) {
                    margin-top: 4.5rem;
                }
            }
            &_oceanLink{
                font-size: 0.9rem;
                color: $color-white;
                @include up(xl) {
                    font-size: 1.4rem;
                }
                &:hover{
                    & svg{
                        fill: $color-secondary;
                    }
                }
                & svg{
                    @include transition(fill);
                    width: 9px;
                    height: 9px;
                    fill: $color-white;
                    @include up(xl) {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }


    }
 }
 &__socialsAndPrivacy{
    display: flex;
    flex-direction: column;
    &-lg{
        display: none;
        @include up(lg) {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 3.7rem;
            margin-bottom: 4.3rem;
            .footer__socialsAndPrivacy_privacy{
                flex-direction: row;
                display: flex;
                align-items: center;
                font-size: 1rem;
                &_title{
                    margin-bottom: 0;
                    order: 1;
                    margin-left: 2.1rem;
                }
            }
        }
        @include up(xl) {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 7.5rem;
            margin-bottom: 10rem;
            .footer__socialsAndPrivacy_socials{
                &_item{
                    & svg{
                        max-width: 22px;
                        max-height: 23px;
                    }
                }
            }
        }
    }
    @include up(md) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2.5rem;
     }
     @include up(lg) {
        display: none;
     }
     &_socials,
     &_privacy{
        @include up(md) {
            width: 45%;
        }
     }
    &_socials{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4.8rem;
        @include up(md) {
            order: 1;
            align-items: flex-end;
            margin-bottom: 0;
         }

        &_item{
            &:hover{
                & svg{
                    color: $color-secondary;
                }
            }
            & svg{
                max-width: 17px;
                max-height: 18px;
                color: $color-gray;
                @include transition(color)
            }
        }

    }
    &_privacy{
        display: flex;
        flex-direction: column;
        color: $color-gray;
        font-size: 0.75rem;
        padding-bottom: 1.5rem;
        @include up(md) {
            padding-bottom: 0;
         }
        &_title{
            margin-bottom: 1.1rem;
        }
        &_content {
            display: flex;
            align-items: center;
            & svg{
                width: 15px !important;
                height: 15px;
                margin-right: 0.5rem;
            }
        }
    }
 }
}
