.input {
    $root: &;

    // font-size: 0;
    // line-height: 0;

    input,
    textarea {
        width: 100%;
        color: $color-base;
        line-height: 1.2;
        padding-top: 1.25rem;
        height: 3rem;
        @include transition(border-color);
        border-bottom: 2px solid $input-border;
        // box-shadow: none, none, inset 1px 0 0 rgba($color-text, .5) , none
        // @include border-inset(1px, rgba($color-text, .5));

        &:hover {
            border-color: rgba($color-secondary, .7);
            // @include border-inset(1px, rgba($color-text, .7));
        }

        &:focus {
            border-color: $color-secondary;
            // @include border-inset(1px, $color-text);
        }

        &:disabled {
            opacity: .7;
            pointer-events: none;
        }

        &:required {
            ~label:after {
                content: '*';
            }
        }

    }
    textarea{
        &:focus{
            height: 182px;
        }
    }

    &._error {

        input,
        textarea {
            border-color: rgba($color-error, .5);
            // @include border-inset(1px, rgba($color-error, .5));

            &:hover {
                border-color: rgba($color-error, .7);
                // @include border-inset(1px, rgba($color-error, .7));
            }

            &:focus {
                border-color: $color-error;
                // @include border-inset(1px, $color-error);
            }
        }
    }

    // textarea {
    //     height: 182px;

    //     // /*line-height: 1.2;*/
    //     // @include up(md) {
    //     //     height: 220px;
    //     // }
    // }

    label {
        position: absolute;
        font-size: 1rem;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        color: $color-gray;

        @include transition(all);

        &._label-empty {
            font-size: 1rem !important;
            top: 50% !important;
            transform: translateY(-50%) !important;

            // @include up(md) {
            //     top: 23px !important;
            // }
            // @include up(lg) {
            //     font-size: 16px !important;
            // }
            // @include up(xl) {
            //     font-size: 17px !important;
            // }
        }

    }

    input:focus+label,
    input:valid+label,
    input:disabled+label,
    input[type=email]+label,
    textarea:focus+label,
    textarea:valid+label,
    select:focus~label,
    select:valid+label {
        font-size: 60%;
        top: 4px;
        transform: none;
    }

    input:focus+._label-empty,
    textarea:focus+._label-empty {
        font-size: 60% !important;
        top: 4px !important;
    }

}
